USE [master]
GO
/****** Object:  Database [EmployeeKhataDB]    Script Date: 28-07-2025 13:51:08 ******/
CREATE DATABASE [EmployeeKhataDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeKhataDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EmployeeKhataDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeKhataDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EmployeeKhataDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeKhataDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeKhataDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28-07-2025 13:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 28-07-2025 13:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[SSN] [nvarchar](450) NOT NULL,
	[DOB] [datetime2](7) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[State] [nvarchar](max) NOT NULL,
	[Zip] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](450) NOT NULL,
	[JoinDate] [datetime2](7) NOT NULL,
	[ExitDate] [datetime2](7) NULL,
	[EmployeeName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salaries]    Script Date: 28-07-2025 13:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salaries](
	[SalaryId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[SalaryAmount] [int] NOT NULL,
	[FromDate] [datetime2](7) NOT NULL,
	[ToDate] [datetime2](7) NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_Salaries] PRIMARY KEY CLUSTERED 
(
	[SalaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250726095324_InitialCreate', N'9.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250726103015_MakeToDateNullableSSNUnique', N'9.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250726104833_MakePhoneUnique', N'9.0.7')
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [SSN], [DOB], [Address], [City], [State], [Zip], [Phone], [JoinDate], [ExitDate], [EmployeeName]) VALUES (5, N'856-50-1298', CAST(N'1981-07-13T00:00:00.0000000' AS DateTime2), N'46 Banding Point', N'Vavuniya', N'Texas', N'43000', N'9181717908', CAST(N'2014-09-01T00:00:00.0000000' AS DateTime2), CAST(N'2018-02-21T00:00:00.0000000' AS DateTime2), N'Andi Ridgway')
INSERT [dbo].[Employees] ([EmployeeId], [SSN], [DOB], [Address], [City], [State], [Zip], [Phone], [JoinDate], [ExitDate], [EmployeeName]) VALUES (7, N'504-28-1498', CAST(N'1985-06-04T00:00:00.0000000' AS DateTime2), N'3811 Jenifer Junction', N'Dvinskoy', N'Beijing', N'165500', N'4749497346', CAST(N'2016-10-08T00:00:00.0000000' AS DateTime2), NULL, N'Nicolle Yallop')
INSERT [dbo].[Employees] ([EmployeeId], [SSN], [DOB], [Address], [City], [State], [Zip], [Phone], [JoinDate], [ExitDate], [EmployeeName]) VALUES (8, N'620-76-3819', CAST(N'1994-08-14T00:00:00.0000000' AS DateTime2), N'55 Westport Plaza', N'Zarnów', N'Rio de Janeiro', N'26-330', N'1525257661', CAST(N'2018-11-24T00:00:00.0000000' AS DateTime2), CAST(N'2016-10-16T00:00:00.0000000' AS DateTime2), N'Jedidiah Caven')
GO
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Salaries] ON 

INSERT [dbo].[Salaries] ([SalaryId], [Title], [SalaryAmount], [FromDate], [ToDate], [EmployeeId]) VALUES (1, N'Data Analyst', 1775575, CAST(N'2014-09-01T00:00:00.0000000' AS DateTime2), CAST(N'2014-10-02T00:00:00.0000000' AS DateTime2), 5)
INSERT [dbo].[Salaries] ([SalaryId], [Title], [SalaryAmount], [FromDate], [ToDate], [EmployeeId]) VALUES (2, N'Software Engineer', 5633392, CAST(N'2016-11-19T00:00:00.0000000' AS DateTime2), CAST(N'2017-04-17T00:00:00.0000000' AS DateTime2), 7)
INSERT [dbo].[Salaries] ([SalaryId], [Title], [SalaryAmount], [FromDate], [ToDate], [EmployeeId]) VALUES (3, N'Project Manager', 3702591, CAST(N'2018-12-15T00:00:00.0000000' AS DateTime2), CAST(N'2016-10-16T00:00:00.0000000' AS DateTime2), 8)
GO
SET IDENTITY_INSERT [dbo].[Salaries] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employees_Phone]    Script Date: 28-07-2025 13:51:08 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Employees_Phone] ON [dbo].[Employees]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employees_SSN]    Script Date: 28-07-2025 13:51:08 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Employees_SSN] ON [dbo].[Employees]
(
	[SSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Salaries_EmployeeId]    Script Date: 28-07-2025 13:51:08 ******/
CREATE NONCLUSTERED INDEX [IX_Salaries_EmployeeId] ON [dbo].[Salaries]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (N'') FOR [EmployeeName]
GO
ALTER TABLE [dbo].[Salaries]  WITH NOCHECK ADD  CONSTRAINT [FK_Salaries_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [FK_Salaries_Employees_EmployeeId]
GO
/****** Object:  StoredProcedure [dbo].[AddEmployee]    Script Date: 28-07-2025 13:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   procedure [dbo].[AddEmployee]
(
	@EmployeeName varchar(100),
	@SSN varchar(20),
	@DOB datetime,
	@Address varchar(max),
	@City varchar(100),
	@State varchar(100),
	@Zip varchar(30),
	@Phone varchar(10),
	@JoinDate datetime,
	@Title varchar(50),
	@SalaryAmount int,
	@NewEmployeeId int output,
	@Message varchar(max) output
)
as
begin
	IF EXISTS (SELECT 1 FROM Employees WHERE SSN = @SSN OR Phone = @Phone)
	BEGIN
		SET @Message = 'SSN or Phone already exists'
		SET @NewEmployeeId = 0
	END
	ELSE
	BEGIN
		BEGIN TRY
			BEGIN TRANSACTION
				Insert into Employees (EmployeeName, SSN, DOB, Address, City, State, Zip, Phone, JoinDate, ExitDate) values (@EmployeeName, @SSN, @DOB, @Address, @City, @State, @Zip, @Phone, @JoinDate, NULL)
				SET @NewEmployeeId = SCOPE_IDENTITY();
				Insert into Salaries (EmployeeId, FromDate, SalaryAmount, Title, ToDate) values (@NewEmployeeId, @JoinDate, @SalaryAmount, @Title, NULL)
			COMMIT TRANSACTION
			SET @Message = NULL
		END TRY
		BEGIN CATCH
			IF @@TRANCOUNT>0
				ROLLBACK TRANSACTION;
			SET @Message = ERROR_MESSAGE()
			SET @NewEmployeeId = 0
		END CATCH
	END
end
GO
USE [master]
GO
